nav.navbar.navbar-default.navbar-fixed-top
			.container-fluid
				.navbar-inner
					button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target=".collapse.navbar-collapse", aria-expanded="false")
						span.sr-only Toggle Navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href="index.html")
						img.icon(alt="Home", src="img/School_512.png")
					div.collapse.navbar-collapse
						ul.nav.navbar-nav.navbar-right
							li.active
								a(href="index.html") Home
							li
								a(href="Algebra 2A.html") Algebra 2A
							li
								a(href="Geometry A.html") Geometry A
							li
								a(href="College Math.html") College Math