doctype HTML
<html lang = "en">
html
	head
		meta(charset ="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
		title Cherry Hill Math
		link(rel="stylesheet", type="text/css", href="css/styles.css")


body
	include jade/navbar.jade
	.container
		.row.alg2
			h2 Geometry
		.row
			.col-sm-12a
					.table-responsive
						table.table-bordered
								tr
									th.col-md-2 Dates
									th Class 1
									th Class 2
									th Class 3
									th Class 4
								tr
									td September 1 through September 2
									td Introduction to the Flipped Classroom <br /><br><u>Homework</u><br>Worksheet 1
									td
									td
									td
								tr.tactive
									td September 3 through September 16
									td Introduction to the Functions <br /><br><u>Homework</u><br> 
										a(href="./worksheets/unit 1/1- Day 1 Domain and Range Homework Worksheet.pdf") Worksheet 1
									td Function Notation <br /><br><u>Homework</u><br>
										a(href="./worksheets/unit 1/1- Day 1 Domain and Range Homework Worksheet.pdf") Worksheet 1
									td Domain and Range <br /><br><u>Homework</u><br>
										a(href="./worksheets/unit 1/1- Day 1 Domain and Range Homework Worksheet.pdf") Worksheet 1
									td Vertical Line Test <br /><br><u>Homework</u><br>
										a(href="./worksheets/unit 1/1- Day 1 Domain and Range Homework Worksheet.pdf") Worksheet 1
								tr.hidden
									td September 17 through September 25
									td Introduction to the Flipped Classroom <br /><br><u>Homework</u><br> 
										a(href="#") Worksheet 1
									td Introduction to the Flipped Classroom <br /><br><u>Homework</u><br>
										a(href="#") Worksheet 1
									td Introduction to the Flipped Classroom <br /><br><u>Homework</u><br>
										a(href="#") Worksheet 1
									td Introduction to the Flipped Classroom <br /><br><u>Homework</u><br>
										a(href="#") Worksheet 1
								tr.hidden
									td September 28 through October 5
									td Introduction to the Flipped Classroom <br /><br><u>Homework</u><br> 
										a(href="#") Worksheet 1
									td Introduction to the Flipped Classroom <br /><br><u>Homework</u><br>
										a(href="#") Worksheet 1
									td Introduction to the Flipped Classroom <br /><br><u>Homework</u><br>
										a(href="#") Worksheet 1
									td Introduction to the Flipped Classroom <br /><br><u>Homework</u><br>
										a(href="#") Worksheet 1
								tr.hidden
									td October 6 through October 13
									td Introduction to the Flipped Classroom <br /><br><u>Homework</u><br> 
										a(href="#") Worksheet 1
									td Introduction to the Flipped Classroom <br /><br><u>Homework</u><br>
										a(href="#") Worksheet 1
									td Introduction to the Flipped Classroom <br /><br><u>Homework</u><br>
										a(href="#") Worksheet 1
									td Introduction to the Flipped Classroom <br /><br><u>Homework</u><br>
										a(href="#") Worksheet 1
								tr.hidden
									td October 14 through October 21
									td Introduction to the Flipped Classroom <br /><br><u>Homework</u><br> 
										a(href="#") Worksheet 1
									td Introduction to the Flipped Classroom <br /><br><u>Homework</u><br>
										a(href="#") Worksheet 1
									td Introduction to the Flipped Classroom <br /><br><u>Homework</u><br>
										a(href="#") Worksheet 1
									td Introduction to the Flipped Classroom <br /><br><u>Homework</u><br>
										a(href="#") Worksheet 1
								tr.hidden
									td October 22 through October 29
									td Introduction to the Flipped Classroom <br /><br><u>Homework</u><br> 
										a(href="#") Worksheet 1
									td Introduction to the Flipped Classroom <br /><br><u>Homework</u><br>
										a(href="#") Worksheet 1
									td Introduction to the Flipped Classroom <br /><br><u>Homework</u><br>
										a(href="#") Worksheet 1
									td Introduction to the Flipped Classroom <br /><br><u>Homework</u><br>
										a(href="#") Worksheet 1
								tr.hidden
									td October 30 through November 10
									td Introduction to the Flipped Classroom <br /><br><u>Homework</u><br> 
										a(href="#") Worksheet 1
									td Introduction to the Flipped Classroom <br /><br><u>Homework</u><br>
										a(href="#") Worksheet 1
									td Introduction to the Flipped Classroom <br /><br><u>Homework</u><br>
										a(href="#") Worksheet 1
									td Introduction to the Flipped Classroom <br /><br><u>Homework</u><br>
										a(href="#") Worksheet 1
								tr.hidden
									td November 11 through November 18
									td Introduction to the Flipped Classroom <br /><br><u>Homework</u><br> 
										a(href="#") Worksheet 1
									td Introduction to the Flipped Classroom <br /><br><u>Homework</u><br>
										a(href="#") Worksheet 1
									td Introduction to the Flipped Classroom <br /><br><u>Homework</u><br>
										a(href="#") Worksheet 1
									td Introduction to the Flipped Classroom <br /><br><u>Homework</u><br>
										a(href="#") Worksheet 1
								tr.hidden
									td November 19 through November 30
									td Introduction to the Flipped Classroom <br /><br><u>Homework</u><br> 
										a(href="#") Worksheet 1
									td Introduction to the Flipped Classroom <br /><br><u>Homework</u><br>
										a(href="#") Worksheet 1
									td Introduction to the Flipped Classroom <br /><br><u>Homework</u><br>
										a(href="#") Worksheet 1
									td Introduction to the Flipped Classroom <br /><br><u>Homework</u><br>
										a(href="#") Worksheet 1
							
								tr.hidden
									td December 1 through December 8
									td Introduction to the Flipped Classroom <br /><br><u>Homework</u><br> 
										a(href="#") Worksheet 1
									td Introduction to the Flipped Classroom <br /><br><u>Homework</u><br>
										a(href="#") Worksheet 1
									td Introduction to the Flipped Classroom <br /><br><u>Homework</u><br>
										a(href="#") Worksheet 1
									td Introduction to the Flipped Classroom <br /><br><u>Homework</u><br>
										a(href="#") Worksheet 1
								tr.hidden
									td December 9 through December 16
									td Introduction to the Flipped Classroom <br /><br><u>Homework</u><br> 
										a(href="#") Worksheet 1
									td Introduction to the Flipped Classroom <br /><br><u>Homework</u><br>
										a(href="#") Worksheet 1
									td Introduction to the Flipped Classroom <br /><br><u>Homework</u><br>
										a(href="#") Worksheet 1
									td Introduction to the Flipped Classroom <br /><br><u>Homework</u><br>
										a(href="#") Worksheet 1
								tr.hidden
									td December 17 through January 4
									td Introduction to the Flipped Classroom <br /><br><u>Homework</u><br> 
										a(href="#") Worksheet 1
									td Introduction to the Flipped Classroom <br /><br><u>Homework</u><br>
										a(href="#") Worksheet 1
									td Introduction to the Flipped Classroom <br /><br><u>Homework</u><br>
										a(href="#") Worksheet 1
									td Introduction to the Flipped Classroom <br /><br><u>Homework</u><br>
										a(href="#") Worksheet 1
								