html, body{
  margin:0 !important;
  padding:0 !important;
}
#header {
	height:340px;
	background:#d3d3d3;
	background: url("blank_blackboard.jpg");
	background-size:cover;
}

.logo{
	float:left;
	margin-top:10px;
	margin-left:20px;
}

.logo img {
	height:50px;
	width:50px;
}

nav {
	float:right;
	margin-top:10px;
	margin-right:20px;
	
}

a{
	display:inline-block;
	text-decoration:none;
	color:white;
	font-family:Candara, Arial, Sans-Serif;
	font-size: 1.5em;
	margin-left:30px;
	font-weight:700;
	text-transform:uppercase;

}

a:hover {
	color:red;
}

h1 {
	text-align: center;
	font-family: Candara, Arial, Sans-Serif;
	font-size: 71px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing:.05em;
	color:white;
	margin-bottom: 10px;
	clear:both;
	padding-top:40px;

}

h1 span {
	display:inline-block;
	padding:0.2em 0.2em;
	border:white 14px solid;

}

p {
	font-size:14px;
	color:white;
	text-align:center;
	font-family: Impact, Charcoal, sans-serif;
	letter-spacing: 0.05em;
}

#logobar {
	height:60px;
	max-width: 1345px;
	width:100%;
	padding-left:35px;
}

#logobar h1 {
	position:absolute;
	display:inline-block;
	font-size: 40px;
	color:black;
	margin-left:20px;
	margin-top:10px;
	margin-bottom:20px;
	padding:0px 0px 0px 0px;
}

#email {
	display:inline-block;
	margin-left:600px;
	margin-top:10px;
	padding:0;
}

#email h1 {
	white-space: nowrap;
}

#email img {
	text-align: center;
	height:50px;
	width:50px;
}

#twitter {
	float:left;
	padding:20px 0px 0px 0px;
	text-align:left;
	width:400px;
	margin:0px;
}

#linkheader {
	color:black;
	display: inline-block;
	margin-top:10px;
	padding:0;
	height:auto;
	font-size: 40px;
}

#link {
	height:50px;
	width:50px;
}

.content {
	text-align: center;
}

#contact span p, ul {	
	text-align: left;
	width:400px;
	color:black;
	font-size: 40px;
	margin-top:10px;
}

#contact {
	width:auto;
	display:inline-block;
	color:black;
}

#resources {
	margin-top:100px;
}

.HomeButton {
	display:table;
	margin: auto;
}

table {
	font-size:40px;
	font-family: Candara, Arial, Sans-Serif;
	margin-top:30px;
	border:1px solid black;
	border-collapse: collapse;
	table-layout: fixed;
	word-wrap:normal;
	text-align: center;
}

th, td {
	padding:15px;
}

table td{
	border:1px solid black;
	width: 350px;

}

table tr:nth-child(even) {
    background-color: #eee;
}

table tr:nth-child(odd) {
    background-color: #fff;
}

table th {
    color: white;
    background-color: black;
}

.hidden {
	display:none;
}

.open td {
	cursor:pointer;
}

.current td {
	background-color: yellow;
	cursor:pointer;
}

table tr:hover {
    background-color: #ADADAD;
}

.zaption-thumbnail {
	display:block;
	position:relative;
	margin:auto;
	margin-top: 100px;
}
